.main-header {
  min-width: 1024px;
  height: 64px;
  background-color: #4A90E2;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header img {
  margin-left: 42px;
}

.main-header span {
  margin-right: 74px;
}